In [10]:
import detention_data_dashboard

In [15]:
import os

In [18]:
import matplotlib.testing.compare

In [17]:
import kaleido

In [19]:
from PIL import Image

In [16]:
data_path = os.path.join(detention_data_dashboard.__path__[0], 'tests')

In [17]:
data_path

'/Users/lucaskolson/Desktop/Data Science Course/detention-data-dashboard/detention_data_dashboard/tests'

In [20]:
temp = detention_data_dashboard.display_aor_plot("All")

In [24]:
temp.write_image(data_path + "/test_images/" + "All1" + ".png")

In [26]:
imageA = data_path + "/test_images/" + "All1" + ".png"

In [17]:
a = Image.open(data_path + "/test_images/" + "West Coast1" + ".png")

In [18]:
a = Image.open(data_path + "/test_images/" + "West Coast1" + ".png")
newsize = (972, 525)
a = a.resize(newsize)
a.save(data_path + "/test_images/" + "West Coast" + "1.png", format="png")

In [22]:
imageB = data_path + "/test_images/" + "All" + ".png"
imageB

'/Users/lucaskolson/Desktop/Data Science Course/detention-data-dashboard/detention_data_dashboard/tests/test_images/All.png'

In [28]:
a = matplotlib.testing.compare.compare_images(imageA, imageB, tol=20)

In [31]:
str(type(a))

"<class 'NoneType'>"

In [11]:
dir(detention_data_dashboard)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'data_download',
 'data_download_arrests_aor',
 'data_download_reg',
 'display_aor_arrests_plot',
 'display_reg_plot',
 'figure',
 'pd',
 'px']

In [3]:
detention_data_dashboard.data_download("West Coast")

         date  encounters  removals  arrests
0  2015-10-01       69792     38493    20683
1  2016-10-01       83980     39202    23577
2  2017-10-01       98772     45594    23131
3  2018-10-01       82557     37567    15303

In [19]:
for location in ['ATL', 'BAL', 'BOS', 'BUF', 'CHI', 'DAL', 'DEN', 'DET', 'ELP', 'HOU', 'HQ', 'LOS', 'MIA', 'NEW', 'NOL','NYC', 'PHI', 'PHO', 'SEA', 'SFR', 'SLC', 'SNA', 'SND', 'SPM', 'WAS']:
            data = detention_data_dashboard.data_download_arrests_aor(location)
            temp = detention_data_dashboard.display_aor_arrests_plot(data)
            temp.write_image(data_path + "/test_images/" + location + ".png")

In [15]:
%pwd

'/Users/lucaskolson/Desktop/Data Science Course/detention-data-dashboard'

In [ ]:
import pandas as pd

In [22]:
def data_download(us_loc):

    if us_loc == "West Coast":
        aor = ['LOS', 'SEA',  'SFR', 'SND']
    elif us_loc == "East Coast":
        aor = ['ATL', 'BAL', 'BOS', 'BUF', 'DET',  'MIA', 'NEW', 'NOL', 'NYC', 'PHI', 'WAS', 'HQ']
    elif us_loc == "Midwest":
        aor = ['CHI', 'SPM']
    elif us_loc == "Southwest":
        aor = ['DAL', 'DEN', 'ELP', 'HOU', 'PHO',  'SLC', 'SNA']
    elif us_loc == "All":
        aor = ['ATL', 'BAL', 'BOS', 'BUF', 'CHI', 'DAL', 'DEN', 'DET', 'ELP', 'HOU', 'HQ', 'LOS', 'MIA', 'NEW', 'NOL','NYC', 'PHI', 'PHO', 'SEA', 'SFR', 'SLC', 'SNA', 'SND', 'SPM', 'WAS']
    else:
        raise NameError('Please enter in a valid US region')

    arrests_by_fy = pd.read_csv("./detention_data_dashboard/data/arrests_by_fy.csv")
    encounters_by_fy = pd.read_csv("./detention_data_dashboard/data/encounters_by_fy.csv")
    removals_by_fy = pd.read_csv("./detention_data_dashboard/data/removals_by_fy.csv")
    date = encounters_by_fy['event_date'].values.tolist()
    enc = encounters_by_fy[aor]
    rem = removals_by_fy[aor]
    arr = arrests_by_fy[aor]
    ind = arr.index.tolist()
    columns_ = ['date', 'encounters', 'removals', 'arrests']

    d = []
    for i in ind:
        d.append([date[i], sum(enc.iloc[i]), sum(rem.iloc[i]), sum(arr.iloc[i])])
    df = pd.DataFrame(data = d, columns = columns_)

    return df

In [7]:
frub = detention_data_dashboard.data_download("West Coast")

In [9]:
str(type(frub))

"<class 'pandas.core.frame.DataFrame'>"

In [2]:
import pandas as pd

In [11]:
def data_download(us_loc):

    if us_loc == "West Coast":
        aor = ['LOS', 'SEA',  'SFR', 'SND']
    elif us_loc == "East Coast":
        aor = ['ATL', 'BAL', 'BOS', 'BUF', 'DET',  'MIA', 'NEW', 'NOL', 'NYC', 'PHI', 'WAS', 'HQ']
    elif us_loc == "Midwest":
        aor = ['CHI', 'SPM']
    elif us_loc == "Southwest":
        aor = ['DAL', 'DEN', 'ELP', 'HOU', 'PHO',  'SLC', 'SNA']
    elif us_loc == "All":
        aor = ['ATL', 'BAL', 'BOS', 'BUF', 'CHI', 'DAL', 'DEN', 'DET', 'ELP', 'HOU', 'HQ', 'LOS', 'MIA', 'NEW', 'NOL','NYC', 'PHI', 'PHO', 'SEA', 'SFR', 'SLC', 'SNA', 'SND', 'SPM', 'WAS']
    else:
        raise NameError('Please enter in a valid US region')

    arrests_by_fy = pd.read_csv("./detention_data_dashboard/data/arrests_by_fy.csv")
    encounters_by_fy = pd.read_csv("./detention_data_dashboard/data/encounters_by_fy.csv")
    removals_by_fy = pd.read_csv("./detention_data_dashboard/data/removals_by_fy.csv")
    date = encounters_by_fy['event_date'].values.tolist()
    enc = encounters_by_fy[aor].to_numpy().flatten()
    rem = removals_by_fy[aor].to_numpy().flatten()
    arr = arrests_by_fy[aor].to_numpy().flatten()
    columns_ = ['date', 'encounters', 'removals', 'arrests']
    data_ = []
    for i in range(len(date)):
        data_.append([date[i],enc[i],rem[i],arr[i]])
    temp = pd.DataFrame(data = data_, columns = columns_)
    return temp

In [12]:
data_download("West Coast")

         date  encounters  removals  arrests
0  2015-10-01       27046      6722     7651
1  2016-10-01       11986      2124     2698
2  2017-10-01       21523      5918     6651
3  2018-10-01        9237     23729     3683

In [1]:
import plotly.express as px

In [26]:
def display_aor_plot(us_loc):
    if us_loc == "West Coast":
        aor = ['LOS', 'SEA',  'SFR', 'SND']
    elif us_loc == "East Coast":
        aor = ['ATL', 'BAL', 'BOS', 'BUF', 'DET',  'MIA', 'NEW', 'NOL', 'NYC', 'PHI', 'WAS', 'HQ']
    elif us_loc == "Midwest":
        aor = ['CHI', 'SPM']
    elif us_loc == "Southwest":
        aor = ['DAL', 'DEN', 'ELP', 'HOU', 'PHO',  'SLC', 'SNA']
    elif us_loc == "All":
        aor = ['ATL', 'BAL', 'BOS', 'BUF', 'CHI', 'DAL', 'DEN', 'DET', 'ELP', 'HOU', 'HQ', 'LOS', 'MIA', 'NEW', 'NOL','NYC', 'PHI', 'PHO', 'SEA', 'SFR', 'SLC', 'SNA', 'SND', 'SPM', 'WAS']
    else:
        raise NameError('Please enter in a valid US region')

    df = data_download(us_loc)
    
    fig = px.line(df, x=df['date'], y=[df['encounters'], df['removals'], df['arrests']],
              title = "Encounters, Removals, and Arrests in Region per FY",
              labels=dict(x="Fiscal Year", y="Total"))
    fig.update_xaxes(title="Fiscal Year", nticks = 4)
    fig.update_yaxes(title="Total")
    fig.update_layout(legend_title_text=None)

    return fig

In [10]:
str(type(detention_data_dashboard.display_aor_plot("All")))

"<class 'plotly.graph_objs._figure.Figure'>"